{{#extends 'base'}}
{{#block 'content'}}
<h1>hello User</h1>

<table class="table">

    <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Form Factor</th>
        <th>Material</th>
        <th>Keyboard Kit</th>
        <th>Description</th>
        <th>Price</th>
        <th>Stock Count</th>
        <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each keyboardcases}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.size}}
            </td>
            <td>
                {{this.material}}
            </td>
            <td>
                {{this.keyboardKit}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                {{this.cost}}
            </td>
            <td>
                {{this.quantity}}
            </td>
            <td>
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>

{{/block}}
{{/extends}}
