<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Keyboard Shop</title>
</head>
<body id="body">
    {{#extends 'base'}}
{{#block 'content'}}
<div id="externalbackground">
    
    <h1 id="header">Products</h1>
    <button "searchtoggle" class="btn btn-warning text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Search Filter
  </button>
  <div class="collapse" id="collapseExample">
      {{!-- Toggle for search form --}}
    <div class="card card-body" id='searchformtoggle'>
        <div class="container lg-col-4 md-col-6 col-12" id="searchForm">
            <form method="GET">
                {{{form}}}
                <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search"/>
            </form>
        </div>
    </div>
</div>
    
    <div class="container " id="cardContainer">
        <div class="row justify-content-center">
            {{!-- <link rel="stylesheet" href="/style/{{this}}"> --}}
            {{#each products}}
            <div class=" col-lg-4 col-md-12 col-12">
                <div class="card shadow-lg " id="Card"> 
                    <img src="{{this.image_url}}" class="card-img-top" alt="item-image" id="cardimage">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <p class="badge bg-warning">{{this.types.name}}</p>
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted">Brand: {{this.brand}}</h6>
                    </div>
                    <ul class="list-group list-group-flush" id="CardTable">
                        <li class="list-group-item"><h6>Subtype: {{this.subtypes.name}}</h6></li>
                        <li class="list-group-item"><h6>Form Factor: {{this.category.name}}</h6></li>
                        <li class="list-group-item">
                            <h6>Compatible with Keyboard Kit: 
                                {{#each this.keyboardkits}}
                                    <span class="badge bg-warning">{{this.name}}</span>
                                {{/each}}
                            </h6>
                        </li>
                        
                        <li class="list-group-item"><h6>Material: {{this.material}}</h6></li>
                        <li class="list-group-item"><h6>Cost: {{this.cost}}</h6></li>
                    </ul>
                    <div class="mx-3">
                        <p class="card-text">{{this.description}}</p>
                    </div>
                    <div class="card-body row">
                        <div class="col">
                            <a href="/users/customer/login" class="btn btn-success btn-sm">Add to cart</a>
                        </div>
                        <div class="col text-end mx-3">
                            <h6 class="text-muted">Stock Count</h6>
                            <h5>{{this.quantity}}</h5>
                        </div>
                    </div>
                    
                </div>
            </div>
            {{/each}}
        </div>
    </div>


</div>


{{/block}}
{{/extends}}
    
</body>
</html>





